<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <h2>Dang ky thanh vien</h2>
        <form action="/apply" method="post">
            <label for="name">Name: </label><input name="name" type="text"><br>
            <label for="email">Email: </label><input name="email" type="text"><br>
            <label for="phoneNumber">So dien thoai: </label><input name="phoneNumber" type="text"><br>
            <label for="birthday">Ngay sinh: </label><input name="birthday" type="date"><br>
            <label for="gender">gioi tinh: </label><input name="gender" type="text"><br>
            <label for="career">Nghe nghiep: </label><input name="career" type="text"><br>
            <label for="group">Nhom :</label>
            <select name="group">
                <option value="nhom1">Nhom 1</option>
                <option value="nhom2">Nhom 2</option>
                <option value="nhom3">Nhom 3</option>
                <option value="nhom4">Nhom 4</option>
            </select><br>
            <input type="submit">
        </form>
    </body>
</html>